@charset "UTF-8";
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:active {
    text-decoration: none;
}
textarea {
	resize: none;
}

.top {
    text-align: center;
}
.top a:link {
    text-decoration: none;
    color: orange;
}

.top a:visited {
    text-decoration: none;
    color: orange;
}

.top a:active {
    text-decoration: none;
    color: orange;
}